.service-image
{
    margin:auto;
    left: 0;
    width: 120px;
    height: 120px;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #fed136;
}

.padding-service
{
    padding-bottom: 50px;
}